.container{
  width: 1280px;
}
.head{
  font-style: normal;
  font-weight: 400px;
  font-size: 80px;
  line-height: 94px;
  margin-left: 98px;
}
.title{
  width: 51px;
  height: 35px;
  font-size: 18px;
  line-height: 16px;
  display: flex;
  align-items: center;
  margin-left: 641px;
  margin-bottom: 5px;
}
.menu-header{
  position: absolute;
  width: 1280px;
  height: 69px;
  margin-left: 100px;
  background-color: #35444f;
  border-collapse: collapse;
  border: 1px solid white;
  margin-bottom: 49px;
  font-size: 24px;
}
.ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.img {
  display: block;
}
.link {
  text-decoration: none;
}
.container-2{
  width: 1280px;
}
.flex-wrap {
  display: flex;
  gap: 53px;
  justify-content: center;
 }
.side-nav {
  min-width: 334px;
  height: max-content;
  border: 1px solid rgb(107, 103, 103);
  padding-left: 100px;
  padding-top: 26px;
  padding-bottom: 30px;
  font-size: 20px;
  line-height: 27px;
  margin-top: 150px;
  margin-left: 170px;
}
.side-nav-item {
  padding-top: 25px;
  padding-bottom: 25px;
}
.link {
  text-decoration: none;
}
.image-wrap {
  display: flex;
  width: 700px;
  height: 550px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(107, 103, 103);
  margin-left: 70px;
  margin-top: 150px;
}
.content-wrap {
  max-width: 885px;
  margin-left: auto;
}
.ramba{
  background-color: #222F3A;
}
.table-1{
  padding-left: 60px;
}
.table-2{
  padding-right: 70px;
}
.list{
  color: #FFFFFF;
}
.wr-1{
  background-color: #DBDBDB;
  font-size: px;
  padding-left: 38px;
  color: #35444F;
}
.wr-2{
  color: red;
  padding-left: 15px;
  font-size: 18px;
}
.text{
  font-style: normal;
  font-size: 18px;
  font-weight: 400px;
  line-height: 24px;
  display: flex;
  color: #2c2c2c;
  margin-right: 99px;
  margin-left: 496px;
  margin-top: 100px;
  width: 885px;
  height: 120px;
}  
.text-2{
  font-style: normal;
  font-size: 18px;
  font-weight: 400px;
  line-height: 24px;
  align-items: center;
  margin-right: 99px;
  margin-left: 496px;
  width: 885px; 
  height: 109px;
}
.menu-footer{
 width: 1280px;
height: 69px;
 background-color: #63696E;
 margin-left: 100px;
 margin-right: 100px;
 padding-left: 40px;
 
 }
 .menu-th{
 font-size: 28px;
 width: 875px;
 padding-left: 20px;
 }
 .footer-list{
  font-size: 18px;
  line-height: 16px;
  color: red;
  text-align: center;
 }
.copy{
  font-size: 24px;
  line-height: 24px;
  align-items: center;
  padding-right: 40px;
  padding-left: 135px;
}
.wr-3{
  color: #3181A6;
}
